@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: #ccc;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    min-width: 320px;
    padding: 20px;
    border-radius: 10px;
}

.p-text {
    margin: 15px 0;
}

#num {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 12px;
    border-radius: 15px;
    border: none;
    background-color: #eeeeee;
}

#confirm-btn {
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: none;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#confirm-btn:active {
    background-color: rgb(18, 67, 167);
}

#result {
    text-align: center;
    margin: 30px 0;
}

.bad {
    background-color: rgb(255, 128, 128);
    padding: 5px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

.good {
    background-color: rgb(161, 255, 161);
    padding: 5px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

@media (min-width: 768px) {
    .container {
        max-width: 640px;
    }
    
    #num, #confirm-btn {
        font-size: 16px;
        padding: 15px;
    }
}

@media (min-width: 1024px) {
    body {
        min-height: 70dvh;
    }
}